@media screen and (min-width:1000px){ /*최대크기 넣어주기*/
    html{
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: 100px;
        position: relative;
        z-index: 2;
    }
    .head_wrap{
        height: 100px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }
    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    /* .gnb_wrap{
        height: 200px;
        position: relative;
        margin: auto;
        border: 1px solid blue;
    }
    .gnb_1{
        width: 10%;
        float: left;
        text-align: center;
        padding:30px 30px;
        border: 1px solid red;
    } */
    .menu_icon{
        display: none;
    }
    .gnb{
        width: 100%;
        height: 100px;
        z-index: 9999;
    }
    .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; }
    /* ================================================= */
    .main{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        margin: auto;
        position: relative;
    }
    form{
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
    fieldset{
        border: none;
        /* border: 1px solid red; */
        width: 100%;
        max-width: 600px;
        margin: auto;
        position: relative;
        padding: 0;
        /* border: 1px solid blue; */
    }
    legend{
        padding: 80px 0 30px 0;
        font-size: 40px;
        text-align: center;
    }
    label{
        font-size:18px;
        display: block;
        margin-top: 20px;
        margin-bottom:4px ;
    }
    input{
        width: 98%;
        height: 50px;
        border: 1px solid #cdcdcd;
        font-size: 20px;
    }
    .search{
        position: absolute;
        /* width: 506px;
        height: 30px;
        font-size: 16px;
        */
        right: 1%;
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    .button{
        text-align: center;
        margin: auto;
    }
    .button button{
        width: 180px;
        height: 48px;
        font-size: 24px;
        color: white;
        text-align: center;
        margin-top: 50px;
        border-radius: 50px;
        border: none;
        background-color: rgb(255, 220, 246);
        cursor: pointer;
    }
    .search{
        width: 506px;
        height: 30px;
        font-size: 16px;
        
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    /* ====================================== */

    .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        /* margin-left: 60px; */
        background: url("../images/logo_white2.png") no-repeat;
    }
}
@media screen and (min-width:640px) and (max-width:1000px){
    header{
        width: 100%;
        height: 100px;
        position: relative;
        z-index: 2;
        position:fixed;
        background-color:#fff;
        
    }
    .head_wrap{
        height: 100px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    /* .gnb_wrap{
        height: 200px;
        position: relative;
        margin: auto;
        border: 1px solid blue;
    }

    .gnb_1{
        width: 10%;
        float: left;
        text-align: center;
        padding:30px 30px;
        border: 1px solid red;
    } */
    .menu_icon{
        width: 32px;
        height: 32px;
        background: url(../images/meme.png)no-repeat;
        position: absolute;
        top: 30px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .gnb_hide{
        display: none;
    }
    .gnb{
        width: 100%;
        height: 100px;
        z-index: 9999;
    }

    .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; }
    /* ================================================= */
    .main{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        margin: auto;
        position: relative;
    }
    form{
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
    fieldset{
        border: none;
        /* border: 1px solid red; */
        width: 100%;
        max-width: 600px;
        margin: auto;
        position: relative;
        padding: 0;
        /* border: 1px solid blue; */
    }
    legend{
        padding: 80px 0 30px 0;
        font-size: 40px;
        text-align: center;
    }
    label{
        font-size:18px;
        display: block;
        margin-top: 20px;
        margin-bottom:4px ;
    }
    input{
        width: 98%;
        height: 50px;
        border: 1px solid #cdcdcd;
        font-size: 20px;
    }
    .search{
        position: absolute;
        /* width: 506px;
        height: 30px;
        font-size: 16px;
        */
        right: 1%;
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    .button{
        text-align: center;
        margin: auto;
    }
    .button button{
        width: 180px;
        height: 48px;
        font-size: 24px;
        color: white;
        text-align: center;
        margin-top: 50px;
        border-radius: 50px;
        border: none;
        background-color: rgb(255, 220, 246);
        cursor: pointer;
    }
    .search{
        width: 506px;
        height: 30px;
        font-size: 16px;
        
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    /* ====================================== */

    .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        /* margin-left: 60px; */
        background: url("../images/logo_white2.png") no-repeat;
    }
}
@media screen and (max-width:640px){
    html{
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
        position:fixed;
        background-color:#fff;
    }
    .head_wrap{
        height: 66px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }
    .logo{
        width: 176px;
        height: 42px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 176px;
        height: 42px;
        background:url(../images/mini_logo.png) no-repeat ;
        text-indent: -9999px;
    }

    .menu_icon{
        width: 38px;
        height: 28px;
        background: url(../images/mini_menu.png)no-repeat;
        z-index: 888;
        position: absolute;
        top: 20px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .gnb_hide{
        display: none;
    }
    .gnb{
        width: 100%;
        height: 60px;
        z-index: 9999;
    }
    .first{
        padding-left: 140px;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 170px;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; }

    /* ================================================= */
    .main{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        margin: auto;
        position: relative;
    }
    form{
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
    fieldset{
        border: none;
        /* border: 1px solid red; */
        width: 100%;
        max-width: 600px;
        margin: auto;
        position: relative;
        padding: 0;
        /* border: 1px solid blue; */
    }
    legend{
        padding: 80px 0 30px 0;
        font-size: 40px;
        text-align: center;
    }
    label{
        font-size:18px;
        display: block;
        margin-top: 20px;
        margin-bottom:4px ;
    }
    input{
        width: 98%;
        height: 50px;
        border: 1px solid #cdcdcd;
        font-size: 20px;
    }
    .search{
        position: absolute;
        /* width: 506px;
        height: 30px;
        font-size: 16px;
        */
        right: 1%;
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    .button{
        text-align: center;
        margin: auto;
    }
    .button button{
        width: 180px;
        height: 48px;
        font-size: 24px;
        color: white;
        text-align: center;
        margin-top: 50px;
        border-radius: 50px;
        border: none;
        background-color: rgb(255, 220, 246);
        cursor: pointer;
    }
    .search{
        width: 506px;
        height: 30px;
        font-size: 16px;
        
    }
    .search a{
        float: right;
    }
    .id_search::after{
        margin-left: 10px;
        margin-right: 10px;
        content: "|";
    }
    /* ====================================== */

    .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        /* margin-left: 60px; */
        background: url("../images/logo_white2.png") no-repeat;
    }
}