@media screen and (min-width:1001px){ /*최대크기 넣어주기*/
    html{
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
        position:fixed;
        
    }
    .head_wrap{
        height: 100px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }
    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    
   
    .menu_icon{
        display: none;
    }
    .menu_icon2{
        display: none;
    }
    .gnb1{
        width: 100%;
        height: 100px;
        z-index: 9999;
    }
    .gnb2{
        display: none;
        width: 100%;
        height: 100%;
    }

    .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb1>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb1>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb1 ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb1 ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb1:hover{background-color: #ffffff;border-collapse:collapse; }
/* =================================================================
=====================================================================
==========================================
====================================================== */
    .main{
        width: 100%;
        margin: auto;
    }
    .main_img_wrap{
        width: 100%;
        height: 760px;
        position: relative;
        margin: auto;
    }

    .main_img img{
        display: block;
        width: 100%;
        height: 760px;
        margin: auto;
    }
    .main_slick .slick-prev{
        display: none;
    }
    .main_img .slick-next{
    }

    .line{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 80px;
    }
    .mv{
        position: relative;
    }
    .cont1{
        width: 100%;
        height: 700px;
        background-color: #fffafb;
    }
    .cont1_wrap{
        width: 100%;
        max-width: 1200px;
        height: 640px;
        margin: auto;
        font-size: 18px;
    }
   
    .cont1_wrap h2{
        margin: auto;
        text-align: center;
        padding: 40px 0 60px 0;
        font-size: 48px;
    }
    .cont1_wrap .left{
        width: 50%;
        height: 500px;
        float: left;
        box-sizing: border-box;
        padding: 0 50px;
    }
    .cont1_wrap .left{
        border-right: 1px solid #cbcbcb;
    }
    .left_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        text-indent: -9999px;
        border-top-left-radius: 50px;
    }
    .left .textbox h3{
        padding: 10px 0;
    }
    .cont1_wrap .right{
        width: 50%;
        height: 500px;
        box-sizing: border-box;
        float: left;
        padding: 0 50px;
    }
    .right_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        text-indent: -9999px;
        border-bottom-right-radius: 50px;
    }
    .right .textbox{
        padding: 10px 0;
    }
    .right .textbox h3{
        padding-bottom: 10px;
    }
    .textbox .click_mv{
        margin-top: 10px;
    }
    .cont1_wrap h3{
        font-size: 30px;
    }
    .cont2_wrap{
        width: 100%;
        max-width: 1200px;
        height: 620px;
        margin: auto;
        position: relative;
    }
    .cont2_wrap h2{
        padding: 60px 40px 40px 40px;
        font-size: 48px;
    }

    .cont2_wrap .tabs{
        position: absolute;
        right: 0;
        margin-top: -90px;
        margin-bottom:50px ;
        list-style: none;
    }
    .cont2_wrap .tabs li{
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }
    .cont2_wrap .tabs li.current{
        height: 0.1px;
        border-bottom:6px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }
    .cont2_wrap .tabs li:hover{
        height: 0.1px;
        border-bottom:6px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }

    .tab-content{
        display: none;
        padding: 15px;
    }
    .tab-content.current{
        display: inherit;
    }
    .cont2_slick img{
        width: 100%;
        max-width: 240px;
        height: 90%;
        margin: auto;
    }

    .cont2_more{
        margin: auto;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    .cont3{
        width: 100%;
        height: 600px;
        background-color: #fffcf8;
    }
    .cont3_wrap{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        margin: auto;
        position: relative;
    }
    .cont3_wrap h2{
        position: absolute;
        top: 40px;
        left: 56%;
        font-size: 48px;
    }
    .cont3_list{
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .cont3_list img{
        width: 100%;
        max-width: 480px;
        height: 500px;
        padding: 20px;
        padding-top: 40px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }


    .cont3_wrap .textbox{
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-top: 120px;
    }
    .cont3 .txt1{
        width: auto;
        margin-left: 12%;

    }
    .cont3_more{
        width: 100px;
        font-size: 20px;
        margin-left: 12%;
    }
    .cont3_wrap .textbox img{
        margin-left: 210px;
        margin-top: 30px;
    }
    .papa{
        width: 100%;
        max-width: 297px;
        height: 270px;
        padding-top: 40px;
    }
    .btbt{
        width: 172px;
        height: 52px;
        position: absolute;
        top: 400px;
        left: 680px;
        text-align: center;
        line-height: 52px;
        font-size: 20px;
    }
    .cont4{
        width: 100%;
        height: 500px;
        background-color: #fafafa;
    }

    .cont4_wrap{
        width: 100%;
        max-width: 1200px;
        height: 500px;
        margin: auto;
        position: relative;
    }
    .cont4_wrap h2{
        padding: 40px;
        font-size: 48px;
    }
    .cont4_wrap .txt1{
        padding: 0 40px;
        float: left;
    }
    .cont4_wrap .click_mv{
        width: 160px;
        float: left;
    }

    .cont4_list{
        width: 100%;
        padding: 40px;
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
    }

    .cont4_list li a{
        display: block;
        width: 220px;
        height: 140px;
        text-align: center;
        background-color: #ffffff;
        line-height: 40px;
        margin: auto;
        border: 0.5px solid #cbcbcb;
    }

    /* ========================================== */
/* 
    .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    } */
        /* ========================================== */
    .footer{
        font-size: 14px;
        height: 240px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin-left: 10px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    
    .txt1_1{
        float: left;
    }
    .txt1_2{
        float: left;
    }
    .txt1_3{
        float: left;
    }
    .txt1_1::after{
        content: "|";
        margin: 16px;
        
    }
    .txt1_2::after{
        content: "|";
        margin: 16px;
    }
    .txt1_3::after{
        content: "|";
        margin: 16px;
    }
    .txt2_1{
        float: left;
    }
    .txt2_2{
        float: left;
    }
    .txt2_3{
        float: left;
    }
    
    .txt2_1::after{
        content: "|";
        margin: 16px;
    }
}
/* =================================================================999px=============
================================================================================= */
@media screen and (min-width:640px) and (max-width:1000px){
    html{
        background-color: rgb(255, 254, 250);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
        position:fixed;
        
    }
    .head_wrap{
        height: 80px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 4px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    /* -----------================ */


    html.active .main{
    -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
    -moz-transform: matrix(1, 0, 0, 1, -320, 0);
    transform: matrix(1, 0, 0, 1, -320, 0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    }
    #overlay {
        background: rgb(222, 222, 222);
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        visibility: hidden;
        width: 100%;
        z-index: 99;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
        -moz-transform: matrix(1, 0, 0, 1, -320, 0);
        transform: matrix(1, 0, 0, 1, -320, 0);
      }
      
      html.active #overlay {
        opacity: .70;
        visibility: visible;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }


    /* -----------================ */
    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }
    .menu_icon{
        width: 32px;
        height: 32px;
        background: url(../images/meme.png)no-repeat;
        position: absolute;
        top: 22px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .menu_icon2{
        width: 32px;
        height: 32px;
        background: url(../images/meme.png)no-repeat;
        position: absolute;
        top: 22px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .gnb_hide{
        display: none;
        position: absolute;
        right: 100px;
        top: 80px;
    }
    .gnb1{
        display: none;
    }
    .gnb2{
        width: 100%;
        height: 80px;
        z-index: 9999;
        
    }
    .gnb2>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 60px; display:inline-block; line-height:60px;}
    /* .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; } */


    .main{
        width: 100%;
        margin: auto;
    }
    .main_img_wrap{
        width: 100%;
        height: 660px;
        position: relative;
        margin: auto;
    }

    .main_img img{
        display: block;
        width: 100%;
        height: 660px;
        margin: auto;
    }
    .main_slick .slick-prev{
        display: none;
    }

    .line{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 80px;
    }
    .mv{
        position: relative;
    }
    .cont1_wrap{
        width: 100%;
        max-width: 1200px;
        height: 740px;
        margin: auto;
        font-size: 18px;
        
    }
    .cont1_wrap h2{
        margin: auto;
        text-align: center;
        padding: 40px 40px 60px 40px;
        font-size: 48px;
    }
    .cont1_wrap .left{
        width: 50%;
        max-width: 600px;
        height: 500px;
        float: left;
        box-sizing: border-box;
        padding: 0 50px;
    }
    .cont1_wrap .left{
        border-right: 1px solid #cbcbcb;
    }
    .left_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        /* background: url(../images/cont1_left1.png) no-repeat; */
        text-indent: -9999px;
        border-top-left-radius: 50px;
    }
    .left .textbox h3{
        padding: 10px 0;
    }
    .cont1_wrap .right{
        width: 50%;
        height: 500px;
        box-sizing: border-box;
        float: left;
        padding: 0 50px;
    }
    .right_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        /* background: url(../images/카페미뇽_10.jpg) no-repeat;
        text-indent: -9999px; */
        border-bottom-right-radius: 50px;
    }
    .right .textbox{
        padding: 10px 0;
    }
    .right .textbox h3{
        padding-bottom: 10px;
    }
    .textbox .click_mv{
        margin-top: 10px;
    }
    .cont1_wrap h3{
        font-size: 30px;
    }
    .cont2_wrap{
        width: 100%;
        max-width: 1200px;
        height: 500px;
        margin: auto;
        position: relative;
    }
    .cont2_wrap h2{
        padding: 60px 40px 40px 40px;
        font-size: 48px;
    }

    .cont2_wrap .tabs{
        position: absolute;
        right: 0;
        margin-top: -90px;
        margin-bottom:50px ;
        list-style: none;
    }
    .cont2_wrap .tabs li{
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }
    .cont2_wrap .tabs li.current{
        height: 0.1px;
        border-bottom:6px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }
    .cont2_wrap .tabs li:hover{
        height: 0.1px;
        border-bottom:8px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }

    .tab-content{
        display: none;
        padding: 15px;
    }

    .tab-content.current{
        display: inherit;
    }

    .cont2_slick img{
        width: 100%;
        max-width: 190px;
        height: 90%;
        margin: auto;
    }

    .cont2_more{
        margin: auto;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    .cont3_wrap{
        width: 100%;
        max-width: 1200px;
        height:840px;
        margin: auto;
        position: relative;
    }
    .cont3_wrap h2{
        font-size: 48px;
        text-align: center;
        padding: 40px 0 60px 0;
    }
    .cont3_list{
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    .cont3_list img{
        width: 100%;
        max-width: 400px;
        height: 400px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin: auto;
    }

    .cont3_wrap .textbox .txt1{
        /* box-sizing: border-box;
        margin-top: 140px; */
        box-sizing: border-box;
        margin-top: -40px;
        text-align: center;
    }
    .cont3_wrap .textbox img{
        display: none;
    }
    /* .cont3 p{
        width: auto;
    } */
    .cont3_more{
        width: 100px;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
    .cont3_wrap .textbox img{
        margin-left: 260px;
        margin-top: 30px;
    }
    .btbt{
        width: 172px;
        height: 52px;

        text-align: center;
        line-height: 52px;
        font-size: 20px;
    }

    
    /* .cont3_wrap .textbox{
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-top: 120px;
    }
    .cont3 .txt1{
        width: auto;
        margin-left: 12%;

    }
    .cont3_more{
        width: 100px;
        font-size: 20px;
        margin-left: 12%;
    }
    .cont3_wrap .textbox img{
        margin-left: 260px;
        margin-top: 30px;
    }
    .btbt{
        width: 172px;
        height: 52px;
        position: absolute;
        top: 400px;
        left: 680px;
        text-align: center;
        line-height: 52px;
        font-size: 20px;
    } */



    .cont4_wrap{
        width: 100%;
        max-width: 1200px;
        height: 500px;
        margin: auto;
        position: relative;
    }
    .cont4_wrap h2{
        padding: 40px;
        font-size: 48px;
    }
    .cont4_wrap .txt1{
        padding: 0 40px;
        float: left;
    }
    .cont4_wrap .click_mv{
        float: left;
    }

    .cont4_list{
        width: 100%;
        padding: 40px;
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
    }

    .cont4_list li a{
        display: block;
        width: 90%;
        height: 140px;
        text-align: center;
        background-color: #ffffff;
        line-height: 40px;
        margin: auto;
    }

    /* .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    } */
    /* ========================================== */
    .footer{
        font-size: 14px;
        height: 260px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin-left: 10px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    
    .txt1_1{
        float: left;
    }
    .txt1_2{
        float: left;
    }
    .txt1_3{
        float: left;
    }
    .txt1_1::after{
        content: "|";
        margin: 16px;
        
    }
    .txt1_2::after{
        content: "|";
        margin: 16px;
    }
    .txt1_3::after{
        content: "|";
        margin: 16px;
    }
    .txt2_1{
        float: left;
    }
    .txt2_2{
        float: left;
    }
    .txt2_3{
        float: left;
    }
    
    .txt2_1::after{
        content: "|";
        margin: 16px;
    }
}
/* =================================================================999px=============
================================================================================= */

/* =================================================================640px=============
================================================================================= */
/* 모바일 : width:640px 미만 */
@media screen and (max-width:640px){/*최소크기 넣어주기*/
    html{
        background-color: rgb(255, 254, 250);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
        position:fixed;
        
    }
    .head_wrap{
        height: 66px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 176px;
        height: 42px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 176px;
        height: 42px;
        background:url(../images/mini_logo.png) no-repeat ;
        text-indent: -9999px;
    }
    /* ========================== */
    
    html.active .main{
        -webkit-transform: matrix(1, 0, 0, 1, -280, 0);
        -moz-transform: matrix(1, 0, 0, 1, -280, 0);
        transform: matrix(1, 0, 0, 1, -280, 0);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        }
        #overlay {
            background: rgb(222, 222, 222);
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 99;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: matrix(1, 0, 0, 1, -280, 0);
            -moz-transform: matrix(1, 0, 0, 1, -280, 0);
            transform: matrix(1, 0, 0, 1, -280, 0);
          }
          
          html.active #overlay {
            opacity: .70;
            visibility: visible;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
    /* ========================== */
    .menu_icon{
        width: 38px;
        height: 28px;
        background: url(../images/mini_menu.png)no-repeat;
        z-index: 888;
        position: absolute;
        top: 20px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .menu_icon2{
        width: 38px;
        height: 28px;
        background: url(../images/mini_menu.png)no-repeat;
        z-index: 888;
        position: absolute;
        top: 20px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }

    .gnb_hide{
        /* display: none; */
        display: none;
        position: absolute;
        right: 50px;
        top: 80px;
    }
    .gnb1{
        display: none;
    }
    .gnb2{
        width: 100%;
        height: 80px;
        z-index: 9999;
        
    }

    .gnb2>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 60px; display:inline-block; line-height:60px;}
    /* .gnb{
        width: 100%;
        height: 60px;
        z-index: 9999;
    } */

    /* .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 170px;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; } */


    .main{
        width: 100%;
        margin: auto;
    }
    .main_img_wrap{
        width: 100%;
        height: 460px;
        position: relative;
        margin: auto;
    }

    .main_img img{
        display: block;
        width: 100%;
        height: 460px;
        margin: auto;
        /* position: absolute;
        top: 0;
        z-index: -1; */
    }
    /* .main_slick .slick-prev{
        display: none;
    }
    .main_img .slick-next{
    } */

    .line{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 80px;
    }
    .mv{
        position: relative;
    }
    .cont1_wrap{
        width: 100%;
        max-width: 1200px;
        height: auto;
        margin: auto;
        font-size: 18px;
        position: relative;
    }
    .cont1_wrap h2{
        margin: auto;
        text-align: center;
        padding: 40px 0;
        font-size: 40px;
    }
    .cont1_wrap .left{
        width: 100%;
        height: 500px;
        box-sizing: border-box;
        padding: 0 50px;
        position: relative;
    }

    .left_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        text-indent: -9999px;
        border-top-left-radius: 50px;
    }
    .left .textbox h3{
        padding: 10px 0;
    }
    .cont1_wrap .right{
        width: 100%;
        height: 500px;
        box-sizing: border-box;
        padding: 0 50px;
        position: relative;
    }
    .right_img img{
        width: 100%;
        max-width: 500px;
        height: 300px;
        text-indent: -9999px;
        border-bottom-right-radius: 50px;
    }
    .right .textbox{
        /* padding: 10px 0; */
        position: absolute;
        top:320px
    }
    .right .textbox h3{
        padding-bottom: 10px;
    }
    .textbox .click_mv{
        margin-top: 10px;
    }
    .cont1_wrap h3{
        font-size: 30px;
    }
    .cont2_wrap{
        width: 100%;
        max-width: 1200px;
        height: 620px;
        margin: auto;
        position: relative;
    }
    .cont2_wrap h2{
        padding: 60px 40px 20px 40px;
        font-size: 40px;
        text-align: center;
    }

    .cont2_wrap .tabs{
        margin-bottom:50px ;
        list-style: none;
        text-align: center;
    }
    .cont2_wrap .tabs li{
        width: 15%;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        border-collapse:collapse; 
        text-align: center;
    }
    .cont2_wrap .tabs li.current{
        height: 0.1px;
        border-bottom:6px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }
 
    .cont2_wrap .tabs li:hover{
        height: 0.1px;
        border-bottom:6px solid rgb(255, 222, 222);
        border-collapse:collapse; 
    }

    

    .tab-content{
        display: none;
        padding: 15px;
    }

    .tab-content.current{
        display: inherit;
    }

    .cont2_slick img{
        width: 100%;
        max-width: 240px;
        height: 90%;
        margin: auto;
    }
  
    .cont2_more{
        margin: auto;
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
    }
    .cont3_wrap{
        width: 100%;
        max-width: 1200px;
        height: 640px;
        margin: auto;
        position: relative;
    }
    .cont3_wrap h2{
        padding: 60px 40px 40px 40px;
        font-size: 40px;
        margin: auto;
        text-align: center;
    }
    .cont3_list{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .cont3_list li{
        width: 100%;
        height: auto;
        margin: auto;
    }

    /* .cont3_more{
        width: 100px;
        font-size: 20px;
    }
    .cont3_wrap .textbox img{
        display: none;
    }
    .btbt{
        text-align: center;
    } */
    .cont3_list img{
        width: 100%;
        max-width: 400px;
        height: 400px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin: auto;
        margin-top: 20px;
    }
    .cont3_wrap .txt1{
        box-sizing: border-box;
        margin-top: -450px;
        text-align: center;
    }
    .cont3_wrap .textbox img{
        display: none;
    }

    .cont3_more{
        width: 100px;
        font-size: 20px;
        text-align: center;
        padding-top: 420px;
        text-align: center;
        margin: auto;
    }


    /* .btbt{
        width: 172px;
        height: 52px;
        position: absolute;
        top: 400px;
        left: 680px;
        text-align: center;
        line-height: 52px;
        font-size: 20px;
    } */

    .cont4_wrap{
        width: 100%;
        max-width: 1200px;
        height: 460px;
        margin: auto;
        position: relative;
    }
    .cont4_wrap h2{
        padding: 40px;
        font-size: 40px;
    }
    .cont4_wrap .txt1{
        padding: 0 40px;
        float: left;
    }
    .cont4_wrap .click_mv{
        width: 100px;
        float: left;
    }

    .cont4_list{
        width: 100%;
        padding: 40px;
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
    }

    .cont4_list li a{
        display: block;
        width: 96%;
        height: 140px;
        text-align: center;
        background-color: #ffffff;
        line-height: 40px;
        margin: auto;
    }

    /* .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    } */
    /* ========================================== */
    .footer{
        font-size: 12px;
        height: 300px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin: auto;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    .fb_1{
        text-align: center;
    }
    .txt1_1{
        display: inline-block;
    }
    .txt1_2{
        display: inline-block;
    }
    .fb_2{
        text-align: center;
    }
    
    .txt1_3{
        display: inline-block;
    }
    .txt1_4{
        display: inline-block;
    }
    address{
        text-align: center;
    }

    .fb_3{
        text-align: center;
    }
    .txt2_1{
        display: inline-block;
    }
    .txt2_2{
        display: inline-block;
    }

   

}