@media screen and (min-width:1000px){ /*최대크기 넣어주기*/
    html{
        /* background-color: rgb(255, 252, 250); */
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 9999;
        position:fixed;
        background-color:rgb(255, 255, 255);
        border-bottom: 1px solid #cbcbcb;
    }
    .head_wrap{
        height: 100px;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    
    .menu_icon{
        display: none;
    }
    .menu_icon2{
        display: none;
    }
    .gnb1{
        width: 100%;
        height: 100px;
        z-index: 9999;
    }
    .gnb2{
        display: none;
        width: 100%;
        height: 100%;
    }

    .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb1>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb1>ul>li>a{border-collapse:collapse; display:block; width: 100%; height: 100px; display:inline-block; line-height: 100px;}
    .gnb1 ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb1 ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb1:hover{background-color: #ffffff;border-collapse:collapse; }
    /* ================================= */
    .main{
        width: 100%;
        height: 3600px;
        position: relative;
    }

    .main_img{
        width: 100%;    
        max-width: 1600px;
        height: 478px;
        background: url(../images/menu_main_2.jpg) no-repeat;
        background-position:0 100px;
        /* background-size: cover; */
        background-size: 100%;
        text-align: center;
        margin: auto;
    }
    
    .main_img h2{
        font-size: 48px;
        color: rgb(255, 255, 255);
        padding-top:15%;
    }
    .main_img p{
        color: #fff;
        font-size: 24px;
    }
    .sel{
        width: 100%;
        max-width: 800px;
        height: 50px;
        margin: auto;
        margin-top: 60px;
        border: 1px solid #4b4b4b;
        border-collapse:collapse; 
    }
 
    
    .sel li a{
        display: block;
        width: 25%;
        float: left;
        line-height: 50px;
        border-collapse:collapse; 
        /* color: #fff; */
    }

    .sel li a:hover{
        background-color: #fff;
        color: black;
    }

    .sel_first a{
        background-color: #fff;
        color: black;
    }
   
 

    .line{
        width: 100px;
        height: 30px;
        position: absolute;
        top: 80px;
        text-indent: -9999px;
    }
    .cont1{
        width: 100%;
        max-width: 1000px;
        height: 500px;
        margin: auto;
    }
    .cont1_slick .slick-prev{
        width: 20px;
        height: 49px;
        background: url(../images/cont_left.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 20;
        /* background-size: cover; */
    }
    .cont1_slick .slick-next{
        width: 20px;
        height: 49px;
        background: url(../images/cont_right.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: 0;
        z-index: 20;

    }
    .cont1 h3{
        text-align: center;
        font-size: 20px;
        padding: 40px 0 60px 0;
        font-size: 40px;
    }
    .cont1 img{
        width: 100%;
        max-width: 240px;
        height: auto;
        margin: auto;
    }
    .cont2{
        width: 100%;
        max-width: 1200px;
        height:1680px;
        margin: auto;
        position: relative;
    }
    .cont2 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }

    .cont2_list li{
        width: 25%;
        height: auto;
        float: left;
    }

    .cont2_list li img{
        width: 100%;
        max-width: 240px;
        margin: auto;
        padding: 20px;
        cursor: pointer;
    }
    /* ===============================================
    모달창 
    ======================================================= */
    /*   팝업 임시 버튼 스타일  */
    .container{
        background-color: antiquewhite;
    }
    /* 팝업 스타일 */
    .modal-wrap {
        display:none;
        width: 16%;
        /* width:240px; */
        /* height:280px; */
        height:auto;
        /* background:rgb(255, 248, 248); */
        background:rgb(255, 255, 255);
        z-index:1000;
        padding: 20px 20px 0 20px;
        border-collapse:collapse; 
        border: 0.5px solid #c3c3c3;
        margin: auto;
    }
    .modal-wrap .txt_1{
        padding: 0;
        font-size: 18px;
        border-bottom: 1px solid #cbcbcb;
    }
    .modal-wrap .txt_2{
        padding: 24px 0 0 0;
        font-size: 14px;
        border-collapse:collapse; 
        
    }
    .modal-wrap .txt_3{
        padding: 40px 0 38px 0;
        font-size: 14px;
        border-collapse:collapse; 
        
        
    }
    .modal-wrap .txt_bt{
        background-color: #f9f9f9;
        width: 100%;
        height: auto;
        z-index: 40;
        padding: 20px;
        margin-left: -20px;
        border-collapse:collapse; 
        font-size: 12px;
    }
    .modal-close{
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }

    /* ============================================
     ============================================ */

    .cont3{
        width: 100%;
        max-width: 1200px;
        height: 1000px;
        position: relative;
        margin: auto;
    }
    .cont3 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }

    .cont3_list li{
        width: 25%;
        height: auto;
        float: left;
    }
    .cont3_list li img{
        width: 100%;
        max-width: 240px;
        margin: auto;
        padding: 30px;
    }
    /* .footer{
        width: 100%;
        height: 200px;
        background-color: rgb(50, 50, 50);
        position: relative;
        margin: auto;
    }
    .footer_wrap{
        padding: 20px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    } */
     /* ========================================== */
     .footer{
        font-size: 14px;
        height: 240px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin-left: 10px;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    
    .txt1_1{
        float: left;
    }
    .txt1_2{
        float: left;
    }
    .txt1_3{
        float: left;
    }
    .txt1_1::after{
        content: "|";
        margin: 16px;
        
    }
    .txt1_2::after{
        content: "|";
        margin: 16px;
    }
    .txt1_3::after{
        content: "|";
        margin: 16px;
    }
    .txt2_1{
        float: left;
    }
    .txt2_2{
        float: left;
    }
    .txt2_3{
        float: left;
    }
    
    .txt2_1::after{
        content: "|";
        margin: 16px;
    }
}
/* ======================================================================
========================================================================
==========================================================================
========================================================================== */
@media screen and (min-width:640px) and (max-width:1000px){
    html{
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: 80px;
        position: relative;
        z-index: 2;
        position:fixed;
        background-color:#fff;
        
    }
    .head_wrap{
        height: 80px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }

    .logo{
        width: 271px;
        height: 63px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 271px;
        height: 63px;
        background:url(../images/카페미뇽_03.png) no-repeat ;
        text-indent: -9999px;
    }
    /* .gnb_wrap{
        height: 200px;
        position: relative;
        margin: auto;
        border: 1px solid blue;
    }

    .gnb_1{
        width: 10%;
        float: left;
        text-align: center;
        padding:30px 30px;
        border: 1px solid red;
    } */
    /* -----------================ */


    html.active .main{
        -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
        -moz-transform: matrix(1, 0, 0, 1, -320, 0);
        transform: matrix(1, 0, 0, 1, -320, 0);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        }
        #overlay {
            background: rgb(222, 222, 222);
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 99;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
            -moz-transform: matrix(1, 0, 0, 1, -320, 0);
            transform: matrix(1, 0, 0, 1, -320, 0);
          }
          
          html.active #overlay {
            opacity: .70;
            visibility: visible;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
    
    
        /* -----------================ */
        .menu_icon{
            width: 32px;
            height: 32px;
            background: url(../images/meme.png)no-repeat;
            position: absolute;
            top: 22px;
            right: 5%;
            text-indent: -9999px;
            cursor: pointer;
            z-index: 888;
        }
        .menu_icon2{
            display: none;
        }
        .menu_icon2{
            width: 100%;
            max-width: 30px;
            height: 38px;
            background: url(../images/close_03.png)no-repeat;
            position: absolute;
            top: 22px;
            right: 5%;
            text-indent: -9999px;
            cursor: pointer;
            z-index: 888;
        }
    .gnb_hide{
        display: none;
    }
    .gnb_hide{
        display: none;
        position: absolute;
        right: 100px;
        top: 80px;
    }
    .gnb1{
        display: none;
    }
    .gnb2{
        width: 100%;
        height: 80px;
        z-index: 9999;
        
    }
    .gnb2>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 60px; display:inline-block; line-height:60px;}
    /* .first{
    /* .gnb{
        width: 100%;
        height: 100px;
        z-index: 9999;
    }

    .first{
        padding-left: 4%;
    }
    .gnb_1 > a{
        font-weight:bold;
    }
    .gnb>ul>li{border-collapse:collapse;font-size:18px;font:"나눔고딕";float: left;width: 16%;height: 40px;line-height: 30px;text-align: center;position: relative;}
    .gnb>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 100px; display:inline-block; line-height: 100px;}
    .gnb ul ul li:hover{border: 1px solid #ecdade; z-index: 9999px;border-collapse:collapse;}
    .gnb ul ul{line-height: 34px; border-collapse:collapse; z-index: 9998;width: 100%; height: 200px; border:0.5px solid #cbcbcb;background-color: white; font-size: 17px;}
    .gnb_1 > a:hover{background-color: #ecdade; color: #ffffff; }
    .gnb:hover{background-color: #ffffff;border-collapse:collapse; } */

    /* ================================= */
    .main{
        width: 100%;
        height: 3900px;
        position: relative;
    }
    /* .main_img{
        width: 100%;    
        max-width: 1600px;
        height: 478px;
        background: url(../images/88_02.jpg) no-repeat;
        background-position:0 100px;
        text-align: center;
    }

    .main_img h2{
        font-size: 48px;
        color: rgb(255, 255, 255);
        padding-top:240px ;
    } */
    .main_img{
        width: 100%;    
        max-width: 1600px;
        height: 478px;
        background: url(../images/menu_main_2.jpg) no-repeat;
        background-position:0 100px;
        background-size: contain;
        text-align: center;
        margin: auto;
    }
    
    .main_img h2{
        font-size: 44px;
        color: rgb(255, 255, 255);
        padding-top:18% ;
    }
    .main_img p{
        color: #fff;
        font-size: 20px;
    }
    .sel{
        width: 99%;
        max-width: 800px;
        height: 50px;
        margin: auto;
        margin-top: 60px;
        border: 1px solid #4b4b4b;
        border-collapse:collapse; 
    }
 
    
    .sel li a{
        display: block;
        width: 24%;
        float: left;
        line-height: 50px;
        border-collapse:collapse; 
        /* color: #fff; */
    }

    .sel li a:hover{
        background-color: #fff;
        color: black;
    }

    .sel_first a{
        background-color: #fff;
        color: black;
    }
    .line{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 80px;
        text-indent: -9999px;
    }
    .cont1{
        width: 100%;
        max-width: 1000px;
        height: 480px;
        margin: auto;
    }
    .cont1_slick .slick-prev{
        width: 20px;
        height: 49px;
        background: url(../images/cont_left.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 20;
        /* background-size: cover; */
    }
    .cont1_slick .slick-next{
        width: 20px;
        height: 49px;
        background: url(../images/cont_right.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: 0;
        z-index: 20;

    }
    .cont1 h3{
        text-align: center;
        font-size: 20px;
        padding: 20px 0 60px 0;
        font-size: 40px;
    }
    .cont1 img{
        width: 100%;
        max-width: 210px;
        height: auto;
        margin: auto;
    }
    .cont2{
        width: 100%;
        max-width: 1200px;
        height:2000px;
        margin: auto;
        position: relative;
    }
    .cont2 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }
    .cont2_list{
        width: 100%;
        max-width: 1200px;
        height: auto;
        margin: auto;
    }
    .cont2_list li{
        width: 33.3%;
        height: auto;
        float: left;
        margin: auto;
    }
    .cont2_list li img{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: auto;
        padding: 30px 0;
        cursor: pointer;
    }
    /* ===============================================
    모달창 
    ======================================================= */
    /*   팝업 임시 버튼 스타일  */
    .container{
        background-color: antiquewhite;
    }
    /* 팝업 스타일 */
    .modal-wrap {
        display:none;
        width: 25%;
        /* width:240px; */
        /* height:280px; */
        height:auto;
        /* background:rgb(255, 248, 248); */
        background:rgb(255, 255, 255);
        z-index:1000;
        padding: 20px 20px 0 20px;
        border-collapse:collapse; 
        border: 0.5px solid #c3c3c3;
        margin: auto;
    }
    .modal-wrap .txt_1{
        padding: 0;
        font-size: 18px;
        border-bottom: 1px solid #cbcbcb;
    }
    .modal-wrap .txt_2{
        padding: 24px 0 0 0;
        font-size: 14px;
        border-collapse:collapse; 
        
    }
    .modal-wrap .txt_3{
        padding: 40px 0 38px 0;
        font-size: 14px;
        border-collapse:collapse; 
        
        
    }
    .modal-wrap .txt_bt{
        background-color: #f9f9f9;
        width: 100%;
        height: auto;
        z-index: 40;
        padding: 20px;
        margin-left: -20px;
        border-collapse:collapse; 
        font-size: 12px;
    }
    .modal-close{
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }

    /* ============================================
     ============================================ */
    .cont3{
        width: 100%;
        max-width: 1200px;
        height: 500px;
        position: relative;
        margin: auto;
    }
    .cont3 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }

    .cont3_list li{
        width: 25%;
        height: auto;
        float: left;
    }
    .cont3_list li img{
        width: 100%;
        max-width: 240px;
        margin: auto;
        padding: 30px;
    }
    /* ========================================== */
    .footer{
        font-size: 12px;
        height: 300px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin: auto;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
       
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    
    .txt1_1{
        float: left;
    }
    .txt1_2{
        float: left;
    }
    .txt1_3{
        float: left;
    }
    .txt1_1::after{
        content: "|";
        margin: 16px;
        
    }
    .txt1_2::after{
        content: "|";
        margin: 16px;
    }
    .txt1_3::after{
        content: "|";
        margin: 16px;
    }
    .txt2_1{
        float: left;
    }
    .txt2_2{
        float: left;
    }
    .txt2_3{
        float: left;
    }
    
    .txt2_1::after{
        content: "|";
        margin: 16px;
    }


}
/* ======================================================================
========================================================================
==========================================================================
========================================================================== */
@media screen and (max-width:640px){/*최소크기 넣어주기*/
    html{
        background-color: rgb(255, 255, 255);
    }
    header{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 9999;
        position:fixed;
        background-color:#fff;
    }
    .head_wrap{
        height: 66px;
        position: relative;
        margin: auto;
        border-collapse:collapse;
    }
    .click_mv{
        width: 150px;
    }
    .click_mv a:hover{
        color:#ff0077
    }

    .down {
        background-color:#fff;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }
    .logo{
        width: 176px;
        height: 42px;
        float: left;
        margin-top: 10px;
        margin-left: 30px;
    }
    .logo a{
        display: block;
        width: 176px;
        height: 42px;
        background:url(../images/mini_logo.png) no-repeat ;
        text-indent: -9999px;
    }
    /* ========================== */
    
    html.active .main{
        -webkit-transform: matrix(1, 0, 0, 1, -280, 0);
        -moz-transform: matrix(1, 0, 0, 1, -280, 0);
        transform: matrix(1, 0, 0, 1, -280, 0);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        }
        #overlay {
            background: rgb(222, 222, 222);
            bottom: 0;
            height: 100%;
            left: 0;
            opacity: 0;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 0;
            visibility: hidden;
            width: 100%;
            z-index: 99;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: matrix(1, 0, 0, 1, -280, 0);
            -moz-transform: matrix(1, 0, 0, 1, -280, 0);
            transform: matrix(1, 0, 0, 1, -280, 0);
          }
          
          html.active #overlay {
            opacity: .70;
            visibility: visible;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
    /* ========================== */

    .menu_icon{
        width: 38px;
        height: 28px;
        background: url(../images/mini_menu.png)no-repeat;
        z-index: 888;
        position: absolute;
        top: 20px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .menu_icon2{
        display: none;
    }
    .menu_icon2{
        width: 38px;
        height: 28px;
        background: url(../images/close_mini_03.png)no-repeat;
        z-index: 888;
        position: absolute;
        top: 20px;
        right: 5%;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 888;
    }
    .gnb_hide{
        /* display: none; */
        display: none;
        position: absolute;
        right: 50px;
        top: 80px;
    }
    .gnb1{
        display: none;
    }
    .gnb2{
        width: 100%;
        height: 80px;
        z-index: 9999;
        
    }

    .gnb2>ul>li>a{border-collapse:collapse; display:block; width: 170px; height: 60px; display:inline-block; line-height:60px;}



    /* ================================= */
    .main{
        width: 100%;
        height: 4700px;
        position: relative;
    }
    /* .main_img{
        width: 100%;    
        max-width: 1600px;
        height: 378px;
        background: url(../images/88_02.jpg) no-repeat;
        text-align: center;
    }

    .main_img h2{
        font-size: 48px;
        color: rgb(255, 255, 255);
        padding-top:180px ;
    } */
    .main_img{
        width: 100%;    
        max-width: 1600px;
        height: auto;
        background: url(../images/menu_main_2.jpg) no-repeat;
        background-position:0 60px;
        background-size: contain;
        text-align: center;
        margin: auto;
    }
    
    .main_img h2{
        font-size: 36px;
        color: rgb(255, 255, 255);
        padding-top:26% ;
    }
    .main_img p{
        /* color: #fff;
        font-size: 24px; */
        display: none;
    }
    .sel{
        width: 100%;
        max-width: 800px;
        height: 50px;
        margin: auto;
        border-bottom: 1px solid #c3c3c3;
        border-collapse:collapse; 
        margin-top: 10%;
    }
    
    .sel li a{
        display: block;
        width: 25%;
        float: left;
        line-height: 50px;
        border-collapse:collapse; 
        
        
        /* color: #fff; */
    }

    .sel li a:hover{
        background-color: rgb(255, 222, 222);
        color: rgb(255, 255, 255);
        border-collapse:collapse; 
    }

    .sel_first a{
        background-color: rgb(255, 222, 222);
        color: rgb(255, 255, 255);
        border-collapse:collapse; 
    }
    .line{
        width: 100%;
        height: 30px;
        position: absolute;
        top: 80px;
        text-indent: -9999px;
    }
    .cont1{
        width: 100%;
        max-width: 1000px;
        height: 500px;
        margin: auto;
    }
    .cont1_slick .slick-prev{
        width: 20px;
        height: 49px;
        background: url(../images/cont_left.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 20;
        /* background-size: cover; */
    }
    .cont1_slick .slick-next{
        width: 20px;
        height: 49px;
        background: url(../images/cont_right.png);
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: 0;
        z-index: 20;

    }
    .cont1 h3{
        text-align: center;
        font-size: 20px;
        padding: 40px 0 60px 0;
        font-size: 40px;
    }
    .cont1 img{
        width: 100%;
        max-width: 240px;
        height: auto;
        margin: auto;
    }
    .cont2{
        width: 100%;
        max-width: 1200px;
        height:2700px;
        margin: auto;
        position: relative;
    }
    .cont2 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }

    .cont2_list li{
        width: 50%;
        height: auto;
        float: left;
    }
    .cont2_list li img{
        display: block;
        width: 100%;
        max-width: 200px;
        margin: auto;
        padding: 30px 0;
    }
    /* ===============================================
    모달창 
    ======================================================= */
    /*   팝업 임시 버튼 스타일  */
    .container{
        background-color: antiquewhite;
    }
    /* 팝업 스타일 */
    .modal-wrap {
        display:none;
        width: 40%;
        /* width:240px; */
        /* height:280px; */
        height:auto;
        /* background:rgb(255, 248, 248); */
        background:rgb(255, 255, 255);
        z-index:1000;
        padding: 20px 20px 0 20px;
        border-collapse:collapse; 
        border: 0.5px solid #c3c3c3;
        margin: auto;
    }
    .modal-wrap .txt_1{
        padding: 0;
        font-size: 18px;
        border-bottom: 1px solid #cbcbcb;
    }
    .modal-wrap .txt_2{
        padding: 24px 0 0 0;
        font-size: 14px;
        border-collapse:collapse; 
        
    }
    .modal-wrap .txt_3{
        padding: 40px 0 38px 0;
        font-size: 14px;
        border-collapse:collapse; 
        
        
    }
    .modal-wrap .txt_bt{
        background-color: #f9f9f9;
        width: 100%;
        height: auto;
        z-index: 40;
        padding: 20px;
        margin-left: -20px;
        border-collapse:collapse; 
        font-size: 12px;
    }
    .modal-close{
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }

    /* ============================================
     ============================================ */
    .cont3{
        width: 100%;
        max-width: 1200px;
        height: 1000px;
        position: relative;
        margin: auto;
    }
    .cont3 h3{
        width: 100%;
        max-width: 1200px;
        font-size: 36px;
        border-bottom:2px solid #cbcbcb ;
    }

    .cont3_list li{
        width: 25%;
        height: auto;
        float: left;
    }
    .cont3_list li img{
        width: 100%;
        max-width: 240px;
        margin: auto;
        padding: 30px;
    }

    /* ========================================== */
    .footer{
        font-size: 12px;
        height: 300px;
        background-color: rgb(50, 50, 50);
        color: rgb(187, 187, 187);
        font-weight: normal;
        position: relative;
    }
    .footer_wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
    }
    .t_logo{
        width: 212px;
        height: 50px;
        margin: auto;
    }
    .t_logo{
        text-indent: -9999px;
        background: url("../images/logo_white2.png") no-repeat;
    }
   
    /* -------------fb */
    .footer_bottom{
        height: 75px;
        padding: 10px;
        padding-top: 34px;
        line-height: 34px;
        /* border: 1px solid #00f; */
    }
    .fb_1{
        text-align: center;
    }
    .txt1_1{
        display: inline-block;
    }
    .txt1_2{
        display: inline-block;
    }
    .fb_2{
        text-align: center;
    }
    
    .txt1_3{
        display: inline-block;
    }
    .txt1_4{
        display: inline-block;
    }
    address{
        text-align: center;
    }

    .fb_3{
        text-align: center;
    }
    .txt2_1{
        display: inline-block;
    }
    .txt2_2{
        display: inline-block;
    }

   

}
